<div class="navbarContainer">
<a class="logoContainer" href="/">
    <h1 class="logo">SWIPE</h1>
</a>

<form  class="searchContainer" method="GET" action="{% url 'home' %}">
    <input class="search" type="text" name="q" placeholder="search rooms"/>
    <input class="searchButton"type="submit" value="search">
</form>

{% if request.user.is_authenticated %}
<p class="username">{{request.user.username}}</p>
<a class="logout" href="{% url 'logout' %}">Log Out</a>
{% else %}
<a class = "login" href="{% url 'login' %}">Log In</a>
{% endif %}
</div>