<!--
Why do the templates for the base app have to be at base/templates/base?
Django requires us to do that
-->
{% extends 'main.html' %} 
<!-- display the content of this file on the content block of main.html-->

{% block content %}

<div class="homeContainer">
    <p class="roomCount">
        {{room_count}} rooms found     
        <a class="newRoomButton" href="{% url 'create-room' %}">New Room</a>
    </p>
    <div class="roomList">
        {% for room in rooms %}
            <div class="room">
                <div class="centerText"><a class="roomName" href="{% url 'room' room.id %}">{{room.name}}</a></div>
<!-- this finds the url with the name 'room' (3rd parameter of a path object in 
     urls.py) and passes in the room.id value to the section <str:pk>-->
                <div class="centerText"><p class="roomHost">@{{room.host.username}}</p></div>
                <div class="centerText"><p class="roomDescription">{{room.description}}</p></div>
                <p class="roomActivity">Last Activity {{room.updated|timesince}} ago</p>
            </div> 
        {% endfor %}
    </div>
</div>


{% endblock content %}