{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="email"/>
        <input type="password" name="password" placeholder="username"/>
        <input type="submit" value="Login" />
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="passwordConfirmation" placeholder="passwordConfirmation">        
        <input type="submit" value="Register" />
    </form>

    <p>Already have an account?</p>
    <a href="{% url 'login' %}">Log In</a>
</div>

{% endif %}

{% endblock content %}