{% extends 'main.html' %}

{% block content %}

<div class="loginRegisterContainer">
    {% if page == 'login' %}
    <div class="loginFormContainer">
        <form class="loginRegisterForm" method="POST">
            {% csrf_token %}
            <input class="loginRegisterInput"type="email" name="email" placeholder="email"/>
            <input class="loginRegisterInput"type="password" name="password" placeholder="username"/>
            <input class="loginRegisterButton" type="submit" value="Log In" />
        </form>
    
        <p>Haven't signed up yet?</p>
        <a class="signupRegisterLink" href="{% url 'register' %}">Sign Up</a>
    </div>
    
    {% else %}
    <div class="registerFormContainer">
        <form method="POST" class="loginRegisterForm">
            {% csrf_token %}
            <input class="loginRegisterInput" type="text" name="username" placeholder="username">
            <input class="loginRegisterInput" type="email" name="email" placeholder="email">
            <input class="loginRegisterInput" type="password" name="password" placeholder="password">
            <input class="loginRegisterInput"type="password" name="passwordConfirmation" placeholder="confirm password">        
            <input class="loginRegisterButton" type="submit" value="Register" />
        </form>
    
        <p>Already have an account?</p>
        <a class="signupRegisterLink" href="{% url 'login' %}">Log In</a>
    </div>
    
    {% endif %}
</div>


{% endblock content %}