{% extends 'main.html' %}

{% block content %}

<div class="mainFormContainer">
    {% if page == 'login' %}
    <div class="secondaryFormContainer">
        <form class="form" method="POST">
            {% csrf_token %}
            <input class="formInput"type="email" name="email" placeholder="email"/>
            <input class="formInput"type="password" name="password" placeholder="username"/>
            <input class="formButton" type="submit" value="Log In" />
        </form>
    
        <p>Haven't signed up yet?</p>
        <a class="signupRegisterLink" href="{% url 'register' %}">Sign Up</a>
    </div>
    
    {% else %}
    <div class="registerFormContainer">
        <form method="POST" class="form">
            {% csrf_token %}
            <input class="formInput" type="text" name="username" placeholder="username">
            <input class="formInput" type="email" name="email" placeholder="email">
            <input class="formInput" type="password" name="password" placeholder="password">
            <input class="formInput"type="password" name="passwordConfirmation" placeholder="confirm password">        
            <input class="formButton" type="submit" value="Register" />
        </form>
    
        <p>Already have an account?</p>
        <a class="signupRegisterLink" href="{% url 'login' %}">Log In</a>
    </div>
    
    {% endif %}
</div>


{% endblock content %}