{% extends 'main.html' %}

{% block content %}

<div class="mainFormContainer">
    <div class="secondaryFormContainer">
        <form class="form" method="POST">
            {% csrf_token %} <!-- this protects us from malicious code -->
            <input class="formInput" type="text" name="name" value="{{ room.name }}" placeholder="name"/>
            <input class="formInput" type="text" name="description" value="{{ room.description }}" placeholder="description"/>
            <input class="formButton" type="submit" value="submit"/>
        </form>
    </div>
</div>

{% endblock content %}