{% extends 'main.html' %}

{% block content %}

<div class="loginRegisterContainer">
    <div class="loginFormContainer">
        <form class="loginRegisterForm" method="POST">
            {% csrf_token %} <!-- this protects us from malicious code -->
            <input class="loginRegisterInput" type="text" name="name" value="{{ room.name }}" placeholder="name"/>
            <input class="loginRegisterInput" type="text" name="description" value="{{ room.description }}" placeholder="description"/>
            <input class="loginRegisterButton" type="submit" value="submit"/>
        </form>
    </div>
</div>

{% endblock content %}